// global styles
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.App {
  padding: 0 20px;
}

// container
.container {
  position: relative;
  height: 300px;
  width: 100%;
  max-width: 1150px;
  
  // panel shared styles
  .panel {
    height: 300px;
    position: absolute;
    top: 0;
    
    // panel text shared styles
    .panel-text {
      color: whitesmoke;
      transition: opacity 300ms ease;
      opacity: 0;

      a {
        &:color {
          color: whitesmoke;
          text-decoration: none;
        }
        &:hover {
          text-decoration: underline;
        }
        &:visited {
          color: whitesmoke;
        }
      }
      h2 {
        margin-bottom: 10px;
      }
      p {
        margin-top: 0px;
      }
    }
    
    &:focus,
    &:hover {
      .panel-text {
        opacity: 1;
      }
    }
    
  }
  
  // panel-left specific styles
  .panel-left {
    width: 100%;
    -webkit-clip-path: polygon(0 0, 75% 0, 25% 100%, 0 100%);
    clip-path: polygon(0 0, 75% 0, 25% 100%, 0 100%);
    transition: all 300ms ease;
    &:focus,
    &:hover {
      -webkit-clip-path: polygon(0 0, 95% 0, 50% 100%, 0 100%);
      clip-path: polygon(0 0, 95% 0, 50% 100%, 0 100%);
      + .panel-right {
        -webkit-clip-path: polygon(100% 0, 95% 0, 50% 100%, 100% 100%);
        clip-path: polygon(100% 0, 95% 0, 50% 100%, 100% 100%);
      }
    }
    .panel-text {
      position: absolute;
      left: 20px;
    }
  }
  
  // panel-right specific styles
  .panel-right {
    width: 100%;
    -webkit-clip-path: polygon(100% 0, 75% 0, 25% 100%, 100% 100%);
    clip-path: polygon(100% 0, 75% 0, 25% 100%, 100% 100%);
    transition: all 300ms ease;
    &:focus,
    &:hover {
      -webkit-clip-path: polygon(100% 0, 50% 0, 5% 100%, 100% 100%);
      clip-path: polygon(100% 0, 50% 0, 5% 100%, 100% 100%);
    }
  }
  .panel-text {
    position: absolute;
    right: 20px;
  }
}